<%- include('./partials/head.ejs') %>
<head>
    <script src="/javascript/canvas_code.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header"> 
            <h1>Rangefinder Practice Tool</h1>
            <div class="navigator">
                <a href="/">Home</a>
                <a href="/inventory">Inventory</a>
                <a class="active" href="/canvas_page">Rangefinder</a>
            </div>
        </div>
        <div class="canvas" id="canvas_container">
            <canvas id="Rangefinder" width="100%" style="border: 1px solid black;">
            </canvas>
            <img id="img1" src="images/mew.png" style="display: none;">
            <img id="img1_dist" src="images/mew.png" style="display: none;">

        </div>
        <%- include('./partials/foot.ejs') %>
    
    </div>

    <script>

    </script>
</body>
</html>