<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
          Main Page
        </h1>
        <div class="navigator">
          <a class="active" href="/">Home</a>
          <a href="/inventory">Inventory</a>
          <a href="/canvas_page">RangeFinder</a>
      </div>
      </div>
      <div>

      </div>  
    </div>
  </body>
</html>
