<%- include('./partials/head.ejs') %>
<head>
    <script src="javascript/inventory.js" defer></script>
</head>
<body>
    <div class="container" style="grid-template-rows: 1fr 5fr 1fr; ">
        <div class="header">
            <h1> Paul's Repair Shop Notes </h1>
            <div class="navigator">
                <a href="/">Home</a>
                <a class="active" href="/inventory">Inventory</a>
                <a href="/canvas_page">Rangefinder</a>
            </div>
        </div>
        <div class="photos" onmouseover="grey_image(1)" onmouseout="normal_image(1)">
            <img id="camera_1" src="https://global.canon/ja/c-museum/wp-content/uploads/2015/05/film74_b.jpg" alt="cannonet" width="auto" height="auto">
            <div class="centered" id="notes_1">
                Notes
                <ul>
                    <li><s>Foggy Rangefinder</s></li>
                    <li>Non Functional Lightmeter</li>
                    <li>Battery Seems To Still Give Charge</li>
                </ul>
            </div>
        </div>
        <div class="photos" onmouseover="grey_image(2)" onmouseout="normal_image(2)">
            <img id="camera_2" src="https://vintagecameradigest.com/wp-content/uploads/2020/12/xe7_gallery9962-2.jpg" alt="minolta xe7" width="auto" height="auto">
            <div class="centered" id="notes_2">
                Notes
                <ul>
                    <li>No Lens</li>
                    <li>I messed up the mechanism to release back</li>
                    <li>Needs battery</li>
                </ul>
            </div>

        </div>
        <div class="photos" onmouseover="grey_image(3)" onmouseout="normal_image(3)">
            <img id="camera_3" src="https://cdn.shopify.com/s/files/1/0521/9496/7750/files/2-KM6279-1.jpg?v=1724135793" alt="minolta hi matic e" width="auto" height="auto">
            <div class="centered" id="notes_3">
                Notes
                <ul>
                    <li>Needs Battery</li>
                    <li>Seems there is haze inside Glass</li>
                    <li>Must Look into More</li>
                </ul>
            </div>
        </div>
        <%- include('./partials/foot.ejs') %>
    </div>

</body>
<footer>
</footer>
</html>