<%- include('./partials/head.ejs') %>
<body>
    <div class="container" style="grid-template-rows: 1fr 1fr 5fr 1fr; ">
        <div class="header"> 
            <h1>Suggestion Box</h1>
            <div class="navigator">
                <a href="/">Home</a>
                <a href="/inventory">Inventory</a>
                <a href="/canvas_page"> Rangefinder </a>
                <a class="active" href="/suggestions"> Suggestion Box </a>
            </div>
        </div>
        <%- include('./partials/foot.ejs') %>
    </div>

    <script>

    </script>
</body>
</html>