body {
    min-height: 93vh;
    min-width: 100vh;
}
img {
    border: 3px solid #000;
    margin: 25px;
    width: 90%;
    height: 90%;
    object-fit: cover;
}
body {
    background-color: #003831;
    font-family: 'Trebuchet MS', sans-serif;
}

button {
  background: #a2aaad;
  border: 1px solid #a2aaa2;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: 26px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
}

.container .blank {
    background-color: #003831;
}
img:hover {
    box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
table {
    width: 90%;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 28px;
} 
th {
    text-align: left;
}
td {
    text-align: center;
}
.container {
    grid-template-columns: 1fr 1fr 1fr; 
    display: grid;
    gap: 20px 20px;
}
.container > div {
    background: #a2aaad;
}
.table {
    text-align: left;
}
.container .photos {
    position: relative;
    text-align: center;
    justify-content: center;
    background: white;
    border: 2px solid black;
    color: rgba(0,0,0,0);
    gap: 5px 5px;
}
.container .change {
    position: relative;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #115740; /* Green */
    border: none;
    color: white;
    font-size: 16px;
    gap: 0px;
}
.container .header {
    background: #EFB21E;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 3;
    text-align: center;
    gap: 5px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.container .thingy {
    background: #EFB21E;
    min-height: 10vh;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 6px;
}
.container .foot {
    color: #a2aaad;
    background-color: transparent;
}
.canvas {
    grid-column: 1 / span 3;
    grid-row: 3 / span 5;
    gap: 5px 5px;
}
.navigator {
    grid-column: 1 / span 3;
    font-size: 18px;
    text-align: center; /* Centers text along with next few lines*/
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;  /*Makes buttons farther away*/
}
a {
    color: green;
    text-decoration: none;
    font-size: 22px;
}
.active {
    text-decoration: underline;
    font-weight: bold;
}
